*{
  box-sizing: border-box;
}
.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.quiz-wrapper{
  width: 100%;
  max-width: 500px;
}
.quiz-wrapper h1{
  text-align: center;
}
.question-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.question-wrapper button{
  margin-bottom: 30px;
  padding: 20px;
  text-align: left;
  color: #000;
  border: none;
  background: rgb(221, 221, 221);
}
.question-wrapper button:focus{
  outline: 2px solid rgb(193, 193, 193);
}
.question-wrapper button:hover{
  background: rgb(233, 233, 233);
}
.question-wrapper button:disabled:hover{
  background: rgb(221, 221, 221);
}
.question-wrapper p{
  margin-bottom: 30px;
  font-size: 24px;
}
.question-wrapper button.next-button{
  width: auto;
  max-width: 170px;
  padding: 10px;
  text-align: center;
  align-self: flex-end;
}
.question-wrapper p.feedback{
  font-size: 18px;
  margin: 0px;
  text-align: right;
  margin-bottom: 20px;
}
.finished-message{
  font-size: 24px;
  text-align: center;
}
